<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">
        <img src="../../assets/SmallLogo_withoutText.png" width="30" height="30" class="d-inline-block align-top"
            style="padding-right: 5px">Navigation</a>
    <button class="navbar-toggler" type="button" data-trigger="#main_nav" (click)="onClick()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="main_nav">
        <div class="offcanvas-header mt-3">

            <button class="btn btn-outline-danger btn-close float-right"> &times Close </button>

            <h5 class="py-2 text-white">Main navbar</h5>

        </div>
        <ul class="nav nav-pills your_nav_class">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/person">Zur Person</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/cv">Lebenslauf</a>
            </li>
        </ul>
    </div>


</nav>